* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #fff5f5);
}

.logo {
  padding: 2rem;
  text-align: left;
}
.logo img {
  width: 100px;
}

.hero-image img {
  width: 100%;
  display: block;
}

.content {
  padding: 4rem 2rem;
}
.content .desktop-logo {
  display: none;
}
.content h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #413a3a;
  margin-bottom: 1.5rem;
}
.content h1 span {
  display: block;
  font-weight: 300;
  color: #ce9797;
}
.content p {
  color: #ce9797;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.email-form {
  position: relative;
}
.email-form input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid #ce9797;
  border-radius: 2rem;
  outline: none;
}
.email-form input::-moz-placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.email-form input::placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.email-form button {
  position: absolute;
  right: 0;
  color: white;
  top: 0;
  height: 100%;
  width: 65px;
  align-items: center;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(206, 151, 151, 0.4);
}

.submit {
  color: white;
  font-size: 19px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
  }
  .logo {
    display: none;
  }
  .hero-image {
    width: 140%;
  }
  .hero-image img {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 10% 80%;
       object-position: 10% 80%;
  }
  .content {
    width: 60%;
    text-align: left;
    padding: 6rem 10%;
    align-self: center;
  }
  .content .desktop-logo {
    display: block;
    margin-bottom: 10rem;
  }
  .content h1 {
    font-size: 4rem;
  }
  .content p {
    max-width: 450px;
  }
  .content .email-form {
    max-width: 450px;
  }
}